= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true
  %div
    = f.label :user_name
    %br/
    = f.text_field :user_name
  %div
    = f.label :email
    %br/
    = f.text_field :email
  .actions
    = f.submit
  %div
    = link_to content_tag('a', '', class: 'icon-trash'), @user, confirm: "Are you sure you want to delete '#{@user.name}'?", method: :delete