
%table.table-minimal
  %tr
    / %th Picture
    / %th Name
    / %th Username
    / %th Email
    / %th Prominence
    / %th Reputation
    / %th
    / %th
  - @users.each do |user|
    %tr
      
    %td 
      - if user.profile_picture?
        = link_to image_tag(user.profile_picture.thumb.url), user.profile_picture.detail.url  
      - else
        = link_to image_tag user.gravatar_url
      %td= user.name
      %td= user.user_name
      %td= user.email
      %td= user.prominence
      %td= user.reputation
         
      %td= button_to "Show", user, :method => "get"
      %td= button_to "Edit", edit_user_path(user), :method => "get"
%br


