%ul
  - flash.keys.each do |key|
    %li= flash[key]

%table
  %tr
    %th profile picture
    %th name
    %th username
    %th email
    %th prominence
    %th reputation
    %th
    %th
  - @users.each do |user|
    %tr
      
    %td 
      - if user.profile_picture?
        = link_to image_tag(user.profile_picture.thumb.url), user.profile_picture.detail.url  
      - else
        = link_to image_tag user.gravatar_url
      %td= user.name
      %td= user.user_name
      %td= user.email
      %td= user.prominence
      %td= user.reputation
         
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
%br

