%main
  %p#notice= notice

  .profile_photo
    - if @user.profile_picture?
      = link_to image_tag(@user.profile_picture.thumb.url), @user.profile_picture.detail.url  
    - else
      = link_to image_tag @user.gravatar_url

  .profile_info
    %h4 Name: #{@user.name}
    %p Username: #{@user.user_name}
    %p Email: #{@user.email}
    %p Prominence: #{@user.prominence}

  - @user.cheerups.each do |cheerup|
    .cheerup
      - if cheerup.cheerup_image?
        = link_to image_tag(cheerup.cheerup_image.thumb.url), cheerup.cheerup_image.detail.url
      - else
        %p= cheerup.content

  %br
  = link_to 'Edit', edit_user_path(@user) |
  = link_to 'Back', users_path
  = link_to 'Destroy', @user, confirm: "Are you sure you want to delete '#{@user.name}'?", method: :delete