= form_for(@cheerup) do |f|
  - if @cheerup.errors.any?
    #error_explanation
      %h2
        = pluralize(@cheerup.errors.count, "error")
        prohibited this cheerup from being saved:
      %ul
        - @cheerup.errors.full_messages.each do |msg|
          %li= msg
  %div
    = f.text_area :content, rows: 2
  %div
    = f.file_field :cheerup_image
  .actions
    = f.submit