- if current_user 
  - if current_user.role?(:admin) || current_user.role?(:user)
    %aside
      #create_cheerup
        #new_cheerup_title
          %h6 Create a cheerup
          %i{class:"fa fa-plus-square-o"}
        .hidden#new_cheerup_form
          = render 'form'

%main#cheerup_main
  .button-group#display_methods 
    %label
      = radio_button_tag('button-group', 'random', checked:true)
      = link_to 'Random', display_cheerups_path(display: 'random'), class: 'button-group-item'
    %label
      = radio_button_tag('button-group', 'prominent')
      = link_to 'Popular', display_cheerups_path(display: 'prominent'), class: 'button-group-item'

  #cheerups
    = render @cheerups
