%h1 Cheerups

%table
  %tr
    %th Cheerup
    %th User Name
    %th Time posted
    %th Upvotes
    %th Downvotes
    %th
    %th
    %th
    %th
    %th
  - @cheerups.each do |cheerup|
    %tr
      %td= cheerup.content
      %td= cheerup.user.name
      %td= time_ago_in_words(cheerup.created_at) + ' ago'
      %td= cheerup.get_upvotes.size
      %td= cheerup.get_downvotes.size
      %td= link_to 'Show', cheerup
      %td= link_to 'Upvote', vote_cheerup_path(cheerup, direction: 'up'), method: :put
      %td= link_to 'Downvote', vote_cheerup_path(cheerup, direction: 'down'), method: :put
      %td= link_to 'Edit', edit_cheerup_path(cheerup)
      %td= link_to 'Delete', cheerup, method: :delete, data: { confirm: 'Are you sure?' } 
