%main#cheerup_main
  #cheerups.show-cheerup-page
    .cheerup
      .cheerup_content
        - if @cheerup.cheerup_image?
          = link_to image_tag(@cheerup.cheerup_image.thumb.url), @cheerup.cheerup_image.detail.url
        %p= @cheerup.content

        .prominence{:id =>"prominence_#{@cheerup.id}"} 
          = @cheerup.prominence

      .cheerup_poster_info 
        %ul
          - if @cheerup.user.profile_picture?
            %li= link_to image_tag(@cheerup.user.profile_picture.thumb.url), @cheerup.user, class: 'cheerup-avatar'  
          - else
            %li= link_to image_tag(@cheerup.user.gravatar_url), @cheerup.user, class: 'cheerup-avatar'   

          %li
            = link_to @cheerup.user.try(:user_name), @cheerup.user
            = "#{time_ago_in_words(@cheerup.created_at)} ago"
          
          %li.downvotes{:id =>"downvote_#{@cheerup.id}"}
            - if current_user
              - if  session['warden.user.user.key'][0][0].to_i != @cheerup.user_id
                = link_to vote_cheerup_path(@cheerup, direction: 'down'), method: :put, :id => "downvote_#{@cheerup.id}" do
                  %i{class:"fa fa-thumbs-o-down"} #{@cheerup.get_downvotes.size}
              - else
                %i{class:"fa fa-thumbs-o-down"} #{@cheerup.get_downvotes.size}
            - else
              %i{class:"fa fa-thumbs-o-down"} #{@cheerup.get_downvotes.size}
          %li.upvotes{:id =>"upvote_#{@cheerup.id}"}
            - if current_user
              - if  session['warden.user.user.key'][0][0].to_i != @cheerup.user_id
                = link_to vote_cheerup_path(@cheerup, direction: 'up'), method: :put, :id => "upvote_#{@cheerup.id}" do
                  %i{class:"fa fa-thumbs-o-up"} #{@cheerup.get_upvotes.size}
              - else
                %i{class:"fa fa-thumbs-o-up"} #{@cheerup.get_upvotes.size}
            - else
              %i{class:"fa fa-thumbs-o-up"} #{@cheerup.get_downvotes.size}
      
        - if current_user
          - if  session['warden.user.user.key'][0][0].to_i == @cheerup.user_id
            .cheerup_admin_panel
              %ul
                %li= link_to 'Edit', edit_cheerup_path(@cheerup)
                %li= link_to 'Delete', @cheerup, method: :delete, data: { confirm: 'Are you sure?' }      
      

