!!! 5
%html
  %meta{charset: 'UTF-8'}
  %head
    %title CheerupsApp
    %link{href:'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel:'stylesheet', type:'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Montserrat', rel:'stylesheet', type:'text/css'}
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel:"stylesheet"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      #site_title
        = link_to "cheerup.me", root_path
      %nav
        = link_to "Users", users_path
        = link_to "Cheerups", cheerups_path
        = search_form_for @q, url: search_cheerups_path, html: {method: :post} do |f|
          %p
            = f.search_field :content_or_user_name_cont, placeholder: 'Search for cheerup or user...'
            = f.submit 'Search', id: 'search_submit_button'
    
    %div#right_menu            
      - if user_signed_in?
        Welcome, #{link_to "#{current_user.name}", user_path(current_user)} #{link_to "Log out", destroy_user_session_path, method: :delete}
        %form#test_data{:action => "/users/create_test_users_data", :method => "post"}
          %button{:name => "test"} Create Test Data
      - else
        = link_to "Sign In", new_user_session_path
        = link_to "Register", new_user_registration_path

    #wrapper
      %p.notice= notice
      %p.alert= alert
      = yield
